body
{
	background: #e0dce4;
}
.form-holder
{
	background: white;
	padding:1% 3%;
	margin-top: 40px;
	width: 100%;
	max-width: 500px;
	position: relative;
	left:50%;
	transform: translate(-50%);
}
label
{
	font-weight: bold;
}
.center-content
{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}

.notification-holder
{
	padding:3% 2%;
}

